<!doctype html>
<html>
<head>
	<title>This is the title of the webpage!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>US Holiday Database</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Current Holidays this Month</h2>
					<ul>
						<% @holidays_now.each do |date| %>
							<% date.each do |holiday| %>
							<li><%= holiday['name']%>: <%=holiday['date'] %></li>
							<% end %>
						<% end %>
					</ul>		
			</div>
			<div class="col-md-6">
				<h2>Holidays in My Birth Month</h2>
					<ul>
						<% @holidays_birth.each do |date| %>
							<% date.each do |holiday| %>
							<li><%= holiday['name']%>: <%=holiday['date'] %></li>
							<% end %>
						<% end %>
					</ul>		
			</div>
		</div>
	</div>
</body> 
</html>